In [4]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [ ]:
##Importando o site e comando 'cabeçalho' para o http não reconhecer como bot
cabecalho = {'user-agent': 'Mozilla/5.0'}
resposta = requests.get('https://www.glassdoor.com.br/Sal%C3%A1rios/s%C3%A3o-paulo-cientista-de-dados-sal%C3%A1rio-SRCH_IL.0,9_IM1009_KO10,28.htm?clickSource=searchBtn',
                        headers = cabecalho)

resposta.text

In [20]:
resposta

In [ ]:
##Atribuindo a url
sopao = resposta.text
sopao

In [ ]:
## Usando o BeautifulSoup para organizar o html
sopa_bonita = BeautifulSoup(sopao, 'html.parser')
sopa_bonita

In [ ]:
## Filrando com a funçao find_all
Lista_Empresa = sopa_bonita.find_all('h3', {'data-test': re.compile("salaries-list-item-.*-employer-name")})
Lista_Empresa

In [27]:
##Observando o Lista_Empresa podemos 
# identificar 2 classes filhas (style, hred)
# sendo assim podemos pegar os objetos por posições
Lista_Empresa[0]

<h3 class="m-0 css-g261rn" data-test="salaries-list-item-0-employer-name"><style data-emotion-css="f3vw95">.css-f3vw95{cursor:pointer;font-size:15px;line-height:24px;color:#1861bf;font-size:inherit;}.css-f3vw95:hover{color:#0c4085;}</style><a class="css-f3vw95 e1aj7ssy3" href="/Salário/Itaú-Unibanco-Itaú-BBA-e-Rede-Cientista-De-Dados-São-Paulo-EJI_IE10999.0,29_KO30,48_IL.49,58_IM1009.htm?filter.payPeriod=MONTHLY">Itaú Unibanco (Itaú BBA e Rede)</a></h3>

In [29]:
#Para capturar classes filhas, utilizar o contents
#Para capturar contudos, utilizar o text
# Metodo para capturar os dados
Lista_Empresa[0].contents[1].text

'Itaú Unibanco (Itaú BBA e Rede)'

In [33]:
#Extraindo nome das empresas
Lista_Empresa[1].find('a').text

'Semantix'

In [ ]:
#Extraindo o nome de todas as empresas
for empresas in Lista_Empresa:
    nome_empresa = (empresas.find('a').text)
    print(nome_empresa)

In [ ]:
##Encontrando o div que contem as informações do salario
## utilizando o find_all
## o re.compile(.* para trazer todos elementos)  será utilizado para trazer todos os itens da lista
lista_salario= sopa_bonita.find_all('div', {"data-test" :re.compile('salaries-list-item-.*-salary-info')})

In [ ]:
for salario in lista_salario:
    salario = salario.contents[0].text
    salario = salario.replace('R$','').replace('Cerca de', '5.000')
    print(salario)

In [40]:
## Utilizando zip para juntaras listas
for empresas, salario in zip(Lista_Empresa,lista_salario):
    nome_empresa = (empresas.find('a').text)
    
    salario = salario.contents[0].text
    salario = salario.replace('R$','').replace('Cerca de', '5.000')
  
    print(f'{nome_empresa} - {salario}')

Itaú Unibanco (Itaú BBA e Rede) -  7.769
Semantix -  8.140
IBM -  7.000
Hospital Israelita Albert Einstein -  12.579
Propz -  6.741
Banco Bradesco -  7.071
Ambev -  8.430
TOTVS -  10.981
Magazine Luiza -  10.160
Qintess -  8.107
Vivo (Telefônica Brasil) -  10.053
Nubank -  13.000
Hospital Israelita Albert Einstein -  10.356
Guiabolso -  8.566
Dextra -  7.778
EY -  3.473
Loft - 5.000
PicPay - 5.000
Youse Seguros - 5.000
Braskem - 5.000

In [ ]:
#Criando o data-frame
lista_todos_salarios = []


for empresas, salario in zip(Lista_Empresa,lista_salario):
    nome_empresa = (empresas.find('a').text)
    
    salario = salario.contents[0].text
    salario = salario.replace('R$','').replace('Cerca de', '5.000')
    
    lista_todos_salarios.append((nome_empresa,salario))

lista_todos_salarios

In [18]:
df_salarios = pd.DataFrame(lista_todos_salarios)

df_salarios

                                     0        1
0      Itaú Unibanco (Itaú BBA e Rede)    7.769
1                             Semantix    8.140
2                                  IBM    7.000
3   Hospital Israelita Albert Einstein   12.579
4                                Propz    6.741
5                       Banco Bradesco    7.071
6                                Ambev    8.430
7                                TOTVS   10.981
8                       Magazine Luiza   10.160
9                              Qintess    8.107
10            Vivo (Telefônica Brasil)   10.053
11                              Nubank   13.000
12  Hospital Israelita Albert Einstein   10.356
13                           Guiabolso    8.566
14                              Dextra    7.778
15                                  EY    3.473
16                                Loft    5.000
17                              PicPay    5.000
18                       Youse Seguros    5.000
19                             Braskem    5.000